<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WYAlertView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>88C9E2FC1CE2D85D00609D2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88C9E3151CE2D85D00609D2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88C9E3201CE2D85D00609D2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
